<h2>Top-level Directories</h2>
<ul>
  <% directories.forEach(dir => { %>
    <li><a href="/browser/directory/<%= dir.id %>"><%= dir.name %></a></li>
  <% }) %>
</ul>

<h2>Recent Files</h2>
<ul>
  <% files.forEach(file => { %>
    <li>
      <%= file.originalName %> - 
      <a href="/api/files/<%= file.id %>/download">Download</a>
    </li>
  <% }) %>
</ul>
